@model IEnumerable<Tailor_shop.ViewModel.PaymentVeiwModel>
@{
    Layout = "AdminLayout";
}

@{
    ViewData["Title"] = "Payments";
}



<h1>Payments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Payment</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PaymentId)</th>
            <th>@Html.DisplayNameFor(model => model.AmountPaid)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentMethod)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PaymentId</td>
                <td>@item.AmountPaid</td>
                <td>@item.PaymentDate.ToString("yyyy-MM-dd")</td>
                <td>@item.PaymentMethod</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PaymentId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.PaymentId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.PaymentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
