@model Tailor_shop.ViewModel.ProductViewModel
@{
    Layout = "AdminLayout";
}

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ProductName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ProductName)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Price)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Price)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Size)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Size)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Color)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Color)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
<a asp-action="Index">Back to List</a>
